/*banner*/
.banner-main{
	position: relative;
}
.banner{
	margin-top: 0px;
	height: 400px;
	background: url(../img/index/banner.png) center repeat-x;
	z-index: 1;
}
.movie-play{
	width: 600px;
	height: 322px;
	position: absolute;
	top: 40px;
	/*left: 100px;*/
	left: 50px;
}
.movie-list{
	position: relative;
	width: 135px;
	height: 100%;
	float: left;
	overflow-x:hidden;
	overflow-y:auto;
	background: #FFFFFF;
}
.movie-list a{
	height: 100px;
	width: 135px;
	float: left;
	border-bottom: 1px solid rgb(232,232,232);
}
.movie-list img{
	width: 100px;
	height: 60px;
	padding: 10px 10px 0px 10px;
	border: 0;
	float: left;
}

.movie-list .info{
	width: 100%;
	height: 20px;
	padding: 0px 10px 0px 10px;
	line-height: 20px;
	float: left;
	
}
.movie-list .info .title{
	width: 100px;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	text-align: center;
}
.movie-list .info .description{
	width: 85px;
	height: 42px;
	font-size: 12px;
}
.movie{
	position: relative;
	width: 450px;
	height: 342px;
	float: left;
	/*top: 30px;*/
	z-index: 9999999;

}
/*banner下面的菜单*/
.sub-menu{
	height: 220px;
	width: 100%;
	background: #FFFFFF;
	margin-top: 10px;
}
.sub-menu li{
	width: 200px;
	text-align: center;
	height: 100%;
	list-style: none;
	float: left;
}
.sub-menu li img{
	margin-top: 30px;	
}
.sub-menu p{
	margin-top: 10px;
	font-size: 16px;
	color: rgb(66,66,66);
}
/*各大省市*/
.area{
	height: 270px;
	width: 100%;
	background: #FFFFFF;
	margin-top: 10px;
}
.area-map{
	width: 370px;
	text-align: center;
	line-height: 270px;
	float: left;
}
.area-map img{
	line-height: 270px;
	vertical-align:middle;
	display: inline-block;
}
/*省份排列*/
.province{
	width: 830px;
	height: 100%;
	float: left;
}
.area-province{
	width: 100%;
	height: 90px;
	border-bottom: 1px solid rgb(230,230,230);
}
.cat-name{
	width: 90px;
	float: left;
	line-height: 90px;
	vertical-align:middle;
	display: inline-block;
	font-weight: bold;
}
.province-list{
	width: 740px;
	height: auto;
	max-height: 100%;
	padding-top: 20px;
	float: left;
}
.area-province li{
	width: auto;
	padding: 5px 9px 5px 9px;
	float: left;
	list-style: none;
	font-size: 14px;
}
.area-province-1{
	width: 100%;
	height: 60px;
	border-bottom: 1px solid rgb(230,230,230);
}
.cat-name-1{
	width: 90px;
	font-weight: bold;
	float: left;
	line-height: 60px;
	vertical-align:middle;
	display: inline-block;
}
.area-province-1 li{
	width: auto;
	padding: 3px 9px 5px 9px;
	float: left;
	list-style: none;
	font-size: 14px;
}
.r{
	color: rgb(177,0,0);
}
/*分类信息*/
.category{
	height: 360px;
	width: 100%;
	background: #FFFFFF;
	margin-top: 10px;
}
/*合作关系*/
.co{
	height: 220px;
	width: 100%;
	background: #FFFFFF;
	margin-top: 10px;
}
.co .title{
	width: 100%;
	height: 50px;
	line-height: 50px;
	padding-left: 30px;
	border-bottom: 1px solid rgb(230,230,230);
}
.co-list{
	width: 100%;
	height: 170px;
}
.co-left{
	width: 48px;
	float: left;
	height: 170px;
	line-height: 170px;
	vertical-align:middle;
	display: table-cell;
	font-family: arial;
	display: block;
	font-size: 148px;
}
.co-left img{
	/*float: right;*/
	margin-left: 23px;
	width: 25px;
	height: 49px;
	line-height: 170px;
	vertical-align:middle;
	*margin-top:expression((400 - this.height )/2);  /* CSS表达式用来兼容IE6/IE7 */
}
.co-right{
	width: 48px;
	float: right;
	height: 170px;
	line-height: 170px;
	vertical-align:middle;
	display: inline-block;
}
.co-right img{
	width: 25px;
	height: 49px;
	/*float: left;*/
	line-height: 170px;
	vertical-align:middle;
	display: inline-block;
}
.co li{
	list-style: none;
	float: left;
	text-align: center;
	width: 138px;
	padding-top: 17px;
}
.co .co-list .co-logo img{
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border: 2px solid rgb(250,250,250);
}
.co .co-logo{
	
}
.co .co-name{
	margin-top: 10px;
}

/*想对鲁班人说*/
.message{
	height: 300px;
	width: 100%;
	background: #FFFFFF;
	margin-top: 10px;
	text-align: center;
}
.message .title{
	width: 100%;
	height: 50px;
	line-height: 50px;
	float: left;
	text-align: left;
	padding-left: 30px;
	border-bottom: 1px solid rgb(230,230,230);
}
.message input{
	width: 1100px;
	height: 120px;
	margin-top: 20px;
	text-align: left;
	border: 1px solid rgb(202,202,202);
	-webkit-box-shadow: inset 0px 0px 15px rgb(217,217,217);  
    -moz-box-shadow: inset 0px 0px 15px rgb(217,217,217);  
    box-shadow: inset 0px 0px 15px rgb(217,217,217); 
}
.message textarea{
	width: 1100px;
	height: 120px;
	font-size: 16px;
	line-height: 25px;
	margin-top: 20px;
	text-align: left;
	border: 1px solid rgb(202,202,202);
	-webkit-box-shadow: inset 0px 0px 15px rgb(217,217,217);  
    -moz-box-shadow: inset 0px 0px 15px rgb(217,217,217);  
    box-shadow: inset 0px 0px 15px rgb(217,217,217); 
}
.submit{
	width: 100%;
	text-align: center;
	height: 30px;
}
.submit .point-me{
	width: 160px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	background: rgb(204,51,37);
	color: #FFFFFF;
	font-size: 20px;
}
.submit .submit-botton{
	width: 160px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	background: rgb(204,51,37);
	color: #FFFFFF;
	margin: auto;
	margin-top: 30px;
}

/*底部广告位*/
.ad{
	width: 350px;
	height: 200px;
	position: fixed;
	right: 0;
	bottom: 0;
	background: #FFFFFF;
	border: 1px solid rgb(237,237,237);
}
dl,dt,dd{padding:0px;margin:0px;list-style-type: none;}
a {color: #333333;text-decoration: none;}
#boxad11 {
	BORDER: #b5b5b5 1px solid; 
	PADDING: 1px 1px 0px 1px;
	FONT-SIZE: 12px; 
	Z-INDEX: 300; 
	BACKGROUND: #ffffff; 
	FLOAT: right; 
	OVERFLOW: hidden; 
	WIDTH: 290px; 
	HEIGHT: 180px;
	RIGHT: 0px; 
	BOTTOM: 0px;
	POSITION:fixed;
	_POSITION:absolute; /*兼容IE6*/
	_TOP:expression(offsetParent.scrollTop+document.documentElement.clientHeight-this.offsetHeight); /*兼容IE6*/
}
/*tit样式*/
#boxad11 dt,#boxad11 dt #AD_tit{
	height:28px;
	line-height:28px;
}
#boxad11 dt{
	width:100%;
	background-image: url(img/bg.jpg);
	background: rgb(250,246,240);
	background-repeat:repeat-x;
	background-position: right top;
	border-bottom: 1px solid rgb(237,237,237);
}
#boxad11 dt #AD_tit{
	display:block;
	overflow:hidden;
}
#boxad11 dd{ 
	width:96%; 
	height:auto; 
	display:block; 
	margin:0 auto; 
	overflow:hidden; 
	padding:4px 0px 4px 0px;
}
#boxad11 dd li{
	line-height: 1.5em;
}
#AD_tit{ 
	width:70%;
	float:left;
	color:#203D5F;
	font-size:10pt;
	text-indent:0.8em;
	font-weight:bold;
}
#closead11,#zoomad11{ 
	width:12px;	
	height:28px;
	line-height:28px; 
	display:block; 
	float:right;
    margin-right:8px;
}
#closead11{ 
	width:12px; 
	float:right;
}
#zoomad11{ 
	float:right;
}
#closead11 img{ 
	margin-top:8px;
}
#zoomad11 img{ 
	margin-top:10px;
}
