.regist{
	margin-top: 40px;
	width: 1200px;
	height: auto;
	margin:20px auto;
	background: #FFFFFF;
	padding-bottom: 40px;
	position: relative;
	height: 100%;
	min-height:800px;
}
.regist .select{
	width: 244px;
	margin: auto;
	text-align: center;
	height: 70px;
	line-height: 40px;
	padding-top: 30px;
}
.regist .select .part{
	width: 120px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border: 1px solid rgb(210,210,210);
	float: left;
	color: rgb(99,99,99);
}
.regist .select .on{
	background: rgb(206,156,90);
	color: #FFFFFF;
}
/*个人注册*/
.regist_box{
	width: 500px;
	height: 360px;
	margin: auto;
	margin-left: 390px;
}
/*.regist_box li{
	margin-top: 25px;
	width: 100%;
	height: 36px;
	list-style: none;
}*/
.regist_box .li{
	margin-top: 25px;
	width: 100%;
	height: 36px;
	list-style: none;
}
.regist_box .w_name{
	width: 75px;
	float: left;
	height: 36px;
	text-align: right;
	line-height: 36px;
}
.regist_box .w_input{
	width: 242px;
	float: left;
	height: 36px;
	margin-left: 15px;
	line-height: 36px;
}
.regist_box .w_need{
	width: 20px;
	float: left;
	height: 36px;
	line-height: 36px;
	text-align: center;
	color: red;
}
.regist .submit{
	width: 120px;
	height: 40px;
	margin: auto;
	background: rgb(209,156,90);
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	line-height: 40px;
	margin-top: 50px;
}
.regist .submitto{
	width: 120px;
	height: 40px;
	color: #FFFFFF;
}
.regist .submitto a{
	text-decoration: none;
	color: #FFFFFF;
}
.regist .regist_box .file{
	width: 70px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	font-size: 13px;
	float: left;
	background: rgb(237,237,237);
	color: rgb(50,50,50);
	border: 1px solid rgb(200,200,200);
	cursor:hand;
	cursor:pointer;
}
.regist .regist_box .upload{
	margin-left: 10px;
	width: 55px;
	height: 36px;
	float: left;
	line-height: 36px;
	font-size: 13px;
	text-align: center;
	background: rgb(237,237,237);
	color: rgb(50,50,50);
	border: 1px solid rgb(200,200,200);
	cursor:hand;
	cursor:pointer;
}
.regist .submit1{
	width: 120px;
	height: 40px;
	margin: auto;
	background: rgb(209,156,90);
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	line-height: 40px;
	margin-top: 280px;
}
.regist .submitto1{
	width: 120px;
	height: 40px;
	color: #FFFFFF;
}
.regist .submitto1 a{
	text-decoration: none;
	color: #FFFFFF;
}